# ignore the releases folder
releases/
/iox_install.csv
/iox_cisco_live.csv
/package_benja_v_1_8_7_c1_small.tar
/ssh-test.py
/iox_install_sj23.csv
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class
